@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.nav-section ul li {
  list-style: none;
}

.nav-section ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-section ul li a {
  text-decoration: none;
  color: rgb(206, 20, 206);
  margin-left: 30px;
  font-weight: 600;
  position: relative;
  padding: 0 10px;

}

.title-section {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
  cursor: pointer;
}

.nav-section ul li a::after {
  content: "";
  position: absolute;
  background-color: rgb(206, 20, 206);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-section ul li a:hover::after {
  width: 100%;
}

.top-section {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.developer-image {
  width: 300px;
  opacity: 0.8;
  border: 2px solid black;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 0 15px #404347;
  position: relative;
  animation-name: developer-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes developer-move {
  0% {
    top: 0;
    left: 0;
  }

  50% {
    top: 20px;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}

.typed-text {
  color: blueviolet;
}

.icon-underline {
  width: 100px;
  height: 3px;
  background-color: forestgreen;
  margin-top: 10px;
}

.download-button {
  border: 1px solid transparent;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s;
  text-decoration: none;
}

.download-button:hover {
  background-color: brown;
}

.btn-div {
  margin-top: 20px;
  transition: 0.3s;
  display: inline-block;
}

.btn-div:hover {
  transform: translateY(-4px)
}

.underline-first {
  width: 80%;
  height: 2px;
  background-color: #404347;
  margin: 0 auto;
}

.projects-heading {
  text-align: center;
  margin-top: 20px;
}

.projects-heading>h2 {
  color: blueviolet;
  font-weight: 500;
}

.projects-heading>h4 {
  color: #404347;
}

.underline-projects {
  width: 270px;
  height: 2px;
  background-color: darkgreen;
  margin: 0 auto;
}

.project-1 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

.disc1-underline {
  width: 200px;
  height: 2px;
  background-color: crimson;

}
.card-1{
  box-shadow: 0 0 7px #404347;
  cursor: pointer;
  transition: 0.3s;
}
.card-1:hover{
  box-shadow: 0 0 15px #404347;
  transform: scale(1.01, 1.01);
}
.project1desc{
  margin-left: 15px;
}
.card-1-title{
  color: #17a343;
}
.project1desc > p{
  color: #404347;
  margin-top: 10px;
}
.card-2-underline{
  width: 300px;
  height: 3px;
  background-color: #17a343;
}
.card-2-desc > p{
  margin-top: 10px;
}
.project-2{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}
.underline-projects-1{
  width: 100px;
  height: 1px;
  background-color: #404347;
  margin: 0 auto;
  margin-top: 25px;
}
.card-2{
  box-shadow: 0 0 7px #404347;
  transition: 0.3s;
  border-radius: 10px;
}
.card-2:hover{
  transform: scale(1.01, 1.01);
  box-shadow: 0 0 15px #404347;
}
.underline-projects-2{
  width: 100px;
  height: 2px;
  background-color: #404347;
  margin: 0 auto;
  margin-top: 25px;
}
.card-3{
  box-shadow: 0 0 7px #404347;
  transition: 0.3s;
}
.card-3:hover{
  box-shadow: 0 0 15px #404347;
  transform: scale(1.01, 1.01);
}
.underline-card-3{
  width: 200px;
  height: 2px;
  background-color: yellow;

}
.description-card-3 > h5{
  color: hotpink;
  font-weight: 500;
}
.description-card-3 > p{
  color: #404347;
}
.project-3{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
}
.description-card-3{
  margin-left: 15px;
}
.underline-projects-3{
  width: 100px;
  height: 2px;
  background-color: #404347;
  margin: 0 auto;
  margin-top: 25px;
}
.card-4{
  box-shadow: 0 0 7px #404347;
  transition: 0.3s;
}
.card-4:hover{
  box-shadow: 0 0 15px #404347;
  transform: scale(1.01, 1.01);
}
.description-card-4 > h5{
  color: crimson;
  font-weight: 600;
}
.underline-card-4{
  width: 200px;
  height: 2px;
  background-color: #17a343;
}
.description-card-4 > p{
  margin-top: 10px;
}
.project-4{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 25px;
}
.underline-second{
  width: 70%;
  height: 2px;
  background-color: #404347;
  margin: 0 auto;
  margin-top: 20px;
}
.aboutme-section{
  width: 85%;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 70px;
}
.aboutme-section > h5{
  color: crimson;
  font-weight: 600;
  display: inline;
  margin-top: 20px;
}
.aboutme-section > div{
  width: 200px;
  height: 2px;
  background-color: indigo;
  margin: 0 auto;
  margin-top: -10px;
}

.aboutme-section > h6{
  margin-top: 20px;
  color: #404347;
  text-align: center;
  display: inline;
}
.aboutme-section > h4{
  color: #0d9438;
  text-align: center;
  padding-bottom: 10px;
}
.aboutme-section > section{
  height: 30px;
}
.footer{
  background-color: #333;
  color: #ffffff;
  padding: 20px 0;
}
.footer-content{
  width: 70%;
  margin: 0 auto;
}
.copyright{
  text-align: center;
}
.up-btn{
  float: right;
  padding: 5px;
  background-color: #17a343;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  transition: 0.3s;
}
.up-btn:hover{
  transform: translateY(-10px);
}
.skills{
  width: 80%;
  margin: 0 auto;
}
.skills > h3{
  text-align: center;
  color: #0b4b8f;
  margin-top: 30px;
}
.skills-underline{
  width: 200px;
  height: 2px;
  background-color: #0d9438;
  margin: 0 auto;
  margin-top: -5px;
}
.underline-listing{
  width: 200px;
  height: 2px;
  background-color: blueviolet;

}

.demo-section{
  height: 30px;
}